### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Kotlin ###
.kotlin/
kotlin-js-store/

### Gradle ###
.gradle/
build/

### Minecraft / Test Environments ###
run/
dev-env/
*.log

### OS Specific ###
.DS_Store
Thumbs.db

### VS Code & Others ###
.vscode/
.history/